<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE log4j:configuration>
<!-- Status determines which *internal* log4j log messages are included. -->
<Configuration status="WARN">
	<Appenders>
		<!-- We can make the console output more user-friendly if we want. -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%level: %message %d{HH:mm:ss:SSS} %n">
			</PatternLayout>
		</Console>

		<!-- We can still keep details in a file log for debugging. -->
		<File name="FileLog" fileName="debug.log" append="false">
			<PatternLayout pattern="[%3sequenceNumber %date{HH:mm:ss:SSS} %-5level{lowerCase=true}] %file#%line %thread: %message%n">
			</PatternLayout>
		</File>
	</Appenders>

	<Loggers>
		<!-- You can modify per-class logging levels if you want. -->
		<Logger name="edu.usfca.cs272.SearchEngine" level="FATAL" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="edu.usfca.cs272.SearchEngine" level="TRACE" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>

		<!-- This is the configuration used by all other loggers. -->
		<Root level="OFF">
			<AppenderRef ref="Console" level="ALL" />
			<AppenderRef ref="FileLog" level="ALL"  />
		</Root>
	</Loggers>
</Configuration>